@font-face {
  font-family: 'Christmas1';
  src: url('fonts/christmabet.woff2');
  font-weight: normal;
  font-size: xx-large;
}

@font-face {
  font-family: 'Christmas2';
  src: url('fonts/Christmas-font.woff2');
  font-weight: normal;
}

.snowflakes {
  font-size: 20px;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h1 {
  color: white;
  text-align: center;
  background-color:#2e04aa;
  font-size: 100px;
}

p {
  font-size: 20px;
}


.container {
  position: relative;        /* overlay positioned relative to container */
  display: inline-block;     /* shrink to the image size */
}
.responsive-image {
  max-width: 100%; /* Image will be no wider than its container or its original width */
  height: auto;    /* Height is adjusted automatically to maintain aspect ratio */
}

.image {
  clip-path: circle(50%);
  display: block;
  width: 200px;
  height: 200px;
  border: 3px solid rgb(153, 0, 255);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  opacity: 0;               /* hide text by default */
  transition: opacity 0.5s ease;
}

.container:hover .text {
  opacity: 1;               /* show text on hover */
}

.button {
  display: inline-block;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 100px;
  width: 100%;
  cursor: pointer;
  
}
.button:active {
  transform: translateY(5px);
}
.button span {
  display: inline-block;
  position: relative;
  transition: 0.7s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -40px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 45px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.Home {background-color: #2e04aa;}
.Projects {background-color: #2e04aa;}
.About {color: #2e04aa;}
.Achievements {color: #2e04aa;}